h1{
    color:bisque;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #333;
    border-radius: 10px;

}