*{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    line-height: 1.6;
}
h1{
    color:#0466d7d8;
}
.container{
    flex:1;
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(2, 95, 22, 0.2);
    width: 80%;
}
main{
    margin:2rem;
}
.taskinput{
    display:flex;
    gap:0.5rem;    
    
}
input{
    flex: 1 ;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
}
button{
    padding: 0.5rem
}
.filters{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}
.task-list{
    list-style: none;
    padding:0px;
    }
    .task{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.8rem;
        gap:5rem;
        border-bottom: 1px solid #ccc;
    }
    .task-checkbox{
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
    }
    .task-text{
        flex: 1;
        font-size: 1.2rem;
        color: #333;
        text-decoration: none;
    }
    .completed .task-text{
        text-decoration: line-through;
        color: #6c757d;
    }
    .delete-task{
        background-color: #0f28ec;
        font-size: large;
        align-items: center;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 20%;
        cursor: pointer;
    }
    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: #f8f9fa;
        border-top: 1px solid #dee2e6;
        margin-top: 1rem;
    }

    
    